.AccountListItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  background: white;

  &:hover {
    background: gainsboro;
  }

  .metadata {
    display: flex;

    .AccountNumber {
      margin-left: 0.5em;
    }
  }

  .balance {
    text-align: right;
    font-variant-numeric: tabular-nums;
    display: flex;
    align-items: center;
  }
}
